/* home > slider  */
.sliderDiv{
    position: relative;
    height: 50vw;  
    background-color: rgb(206, 203, 203);
    overflow: hidden; 
    isolation: isolate;
    
}
.overlay::after{
    content:' ';
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    background-image:linear-gradient( rgba(119, 224, 253, 0),rgb(255, 255, 255,0), rgb(255, 255, 255,1));
    height:100%;
    width:100%;
    }
.sliderDiv article{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s linear;

}

.sliderDiv article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


article.activeSlide{
    opacity: 1;
   transform: translateX(0);
   
   
}
article.lastSlide{
    transform: translateX(-100%);
}

article.nextSlide{
    transform: translateX(100%);
   
}

.arrow{
    position: absolute;
    top: 20%;
    font-size: 3vw;
    border-color: black;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.leftArrow{
    left:1.5%;
}

.rightArrow{
    right:1.5%;
}
