/* navbar  */

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3rem;
    background-color: rgb(20, 28, 36);
    color: white;
}
.navbar .menuIcon{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.logoDiv {
    align-items: center;
}

.logo {
    height: 3.3rem;
    width: 11rem;
    align-self: center;
}
.logo:hover{
    outline:0.05rem solid white;
}
/* toggle menu  */
.navbar .toggleMenu, .navbar .toggleMenuOn{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    transition: 0.7s all ease;
    animation-name: animation;
}
.navbar .toggleMenu{
    transform: translateX(-100%);
}
.navbar .toggleMenuOn{
    
    transform: translateX(0);
}

@keyframes animation{
    0%{transform: translateX(-100%);}
    25%{transform: translateX(-75%);}
    50%{transform: translateX(-50%);}
    75%{transform: translateX(-25%);}
    100%{transform: translateX(0);}

}
.navbar  .menuHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(20, 28, 36);
}
.navbar  .menuHeader .menuSignin{
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap:0.5rem
}
.navbar  .menuHeader .header{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.navbar  .menuList .menuUserIcon{
    font-size: 2rem;
}
.navbar .menuList{
    
    display: flex;
    flex:1;
    flex-direction: column;
    gap:0.8rem;
    width: 75%;
    height: 100vh;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
    overflow-y: scroll;
}
.navbar  .cancle{
    width: 20%;
    background-color: rgb(98, 98, 102);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.navbar  .cancle .cancleIcon{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.navbar  .cancle .cancleIcon:hover{
    transform: scale(1.5);
    transition: 0.5s all ease;
}

ul li {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-emphasis: none;
}

a {
    text-decoration: none;
}
.navbar .menuList li{
    padding:0.5rem 2rem;
}
.navbar .menuList li a{
    text-decoration: none;
    color: black;
}
.navbar .menuList li:hover{
    background-color: lightblue;
}
.location {
    display: flex;
    align-items: center;
    padding: 0.8rem;
}
.location:hover{
    outline:0.05rem solid white;
}
.location .map {
    font-size: 1.2rem;
    color: white;
    align-self: flex-end;
}

.navbar ul li {
    list-style: none;
    list-style-type: none;
}

h6 {
    color: rgb(231, 225, 225);
}

/* search div  */
.searchdiv {
    flex:1;
    display: flex;
}
.searchdiv2{
    flex: 1;
    display: none;
    padding: 0.3rem;
    background-color: rgb(20, 28, 36);
}
.searchdiv:hover{
    outline: 2px yellow solid;
    border-radius: 0.5rem;
}

.searchdiv .selectButton,.searchdiv2 .selectButton {

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: lightgray;
    width: 3.5rem;
    text-align: center;

}

.searchdiv input,.searchdiv2 input {
    flex: 1;
    padding: 0.2rem;
    margin-right: 0 !important;
    outline: none;
    border: none;

}

.searchdiv .searchButton,.searchdiv2 .searchButton {
    height: 2.5rem;
    width: 3rem;
    background-color: rgb(245, 174, 67);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left: 0 !important;
    outline: none;
    border: none;

}

.searchdiv .searchButton .searchIcon,.searchdiv2 .searchButton .searchIcon {
    height: 2.5rem;
    font-size: 1.3rem;
    outline: none;
    border: none;


}

.selectCountryDiv {
    display: flex;
    align-items: flex-end;
    padding:0.9rem;

}
.selectCountryDiv:hover{
    outline:0.05rem solid white;
}

.selectCountry {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: flex-end;
}

.selectButton {
    width: 1rem;
}

/* sign in Div  */
.signinDiv {
    display: flex;
    flex-direction: column;
    padding: 0.9rem;

}
.signinDiv:hover{
    outline:0.05rem solid white;
}
.signinUserIcon{
    display: none;
}
.signinDiv .listDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.orderDiv{
    padding: 0.9rem;
}
.orderDiv:hover{
    outline:0.05rem solid white;
}

/* cart div  */

.cartDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.9rem;
    }
.cartDiv:hover{
    outline:0.05rem solid white;
}

.cartIcon {
    font-size: 2rem;
}
.cartDiv .userIcon{
    display: none;
    font-size: 2rem;
}

@media only screen and (max-Width:1155px) {
    .location {
        display: none;
    }
    
}

@media only screen and (max-Width:845px){
    .navbar{
        padding-left:1rem;
        padding-right: 1rem;
        justify-content: space-between;
    }
    .signinDiv, .selectCountry, .orderDiv, .searchdiv, .cartDiv h5{
        display: none;
    
    }
    .signinUserIcon,.navbar .menuIcon,.cartDiv .userIcon, .searchdiv2 {
        display: flex;
    }
    .logoDiv{
        display: flex;
        flex-direction: row;
    }
    .cartDiv{
        gap: 1rem;
    }
   
}