/* homeDiv > Category Item  */
.homeDiv .itemCategoryDiv {
    position: absolute;
    top: 50%;
    padding: 1rem;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item2 item3 item5"
    "item6 item7 item8 item9"
    "slider1 slider1 slider1 slider1"
    "slider2 slider2 slider2 slider2"
    "slider3 slider3 slider3 slider3"
    "sponsored sponsored sponsored sponsored"
    "ItemCategory3List ItemCategory3List ItemCategory3List  ItemCategory3List"
    "GrocerySliderCategory GrocerySliderCategory GrocerySliderCategory GrocerySliderCategory";
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: space-evenly;
    
 
}

.itemCategoryDiv .itemCategory {
    height: minmax(30rem,10rem);
    object-fit: stretch;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.itemCategoryDiv .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    justify-content: space-evenly;
    object-fit: stretch;
    
}

.itemCategoryDiv .item img{
    height:90%;
    object-fit: fill;
}

.itemCategoryDiv .itemCategory1 {
    grid-area: item1;
}

.itemCategoryDiv .itemCategory2 {
    grid-area: item2;
}

.itemCategoryDiv .itemCategory3 {
    grid-area: item3;
}
.itemCategoryDiv .itemCategory4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.itemCategoryDiv .itemCategory4 button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 226, 65);
}

.itemCategoryDiv .itemCategory4 img {
    display: none;
}

.itemCategoryDiv .itemCategory5 {
    grid-area: item5;
    margin: 0 1rem;
    height:13rem;
}

.itemCategoryDiv .itemImage {
    max-height: 15rem;
    max-width: 15rem; 
    align-self: center;
}

.itemCategoryDiv .itemCategory5 .itemImage {
    height: 70%;
    width: 70%;
    object-fit: cover;
    align-self: center;
}

.itemCategoryDiv .itemCategory6 {
    grid-area: item6;
 
}
.itemCategoryDiv .itemCategory7 {
    grid-area: item7;
}
.itemCategoryDiv .itemCategory8 {
    grid-area: item8;
}
.itemCategoryDiv .itemCategory9 {
    grid-area: item9;
} 


 @media only screen  and (max-width:1255px){
    .homeDiv .itemCategoryDiv{
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item4 item4"
        "item5 item6 item7"
        "item8 item9 ." ;
    }
    .itemCategoryDiv .itemCategory5 {
        margin: 0;
        height:100%;
    }
    .itemCategoryDiv .itemCategory4{
        grid-area: item4;
        width: 100%;
    }
    
    .itemCategoryDiv .item{
        gap: 1rem;
    }
    
} 

@media only screen and (max-Width:945px){
    .homeDiv .itemCategoryDiv{
        grid-template-areas: 
        "item1 item2"
        "item3 item5"
        "item4 item4"
        "item6 item7"
        "item8 item9"
    }

    .itemCategoryDiv .item h3, .itemCategoryDiv .item p{
        font-size: 1rem;
    }
    .itemCategoryDiv .itemCategory .item .itemImage{
        width: 20vw;
    }
}
@media only screen and (max-Width:565px){
    .homeDiv .itemCategoryDiv{
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9"
    }
    .itemCategoryDiv .itemCategory .item .itemImage{
        width: 225px;
    }
}