*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
}
 ul li{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-emphasis: none;
}
a{
    text-decoration: none;
}

/* menu  */

.menu{
    background-color: rgb(37, 42, 46);
}

.menu{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:0.5rem 2rem;

}

.menu .leftMenu ul{
    display: flex;
    gap:1.5rem;
    justify-content: space-evenly;
}

.menu .leftMenu ul li{
    font-size:14px;
    font-weight: bold;
    text-decoration: none !important;
    text-emphasis: none;
    text-anchor: unset;
}

.menu .leftMenu ul li a{
    text-decoration: none;
    color: white;
}


@media only screen  and (max-width:1290px){
    .menu .rightColumn{
        display: none;
    }
}