 .componentCategories{
    max-height: 25rem;
    max-width: 20rem;
    object-fit: cover;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

 .componentCategories .componentCategoryItem{
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;
    padding:1rem;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;
}
 .componentCategories .componentCategoryItem .componentCategoryImage{
    object-fit: cover;
    align-self: center;
    
}
.componentCategories .componentCategoryItem .componentCategoryImage Img{
    height: 100%;
    width: 100% ;
    object-fit: cover;
    align-self: center;
}
 .componentCategories .componentCategoryItem .componentCategoryImage .smartScreenDiv{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:0.5rem;
}

 .componentCategories .componentCategoryItem .componentCategoryImage .smartScreenImageDiv{
    height: 10rem;
    width: 10rem ;
    object-fit: cover;
    align-self: center;
    display: grid;
    grid-template-rows: auto auto auto;
    padding:1rem;
    justify-content: space-evenly;
    align-items: center;
}
 .componentCategories .componentCategoryItem .componentCategoryImage .smartScreenImageDiv .smartScreenImage{
    height: 100%;
    width: 100% ;
    object-fit: cover;
    align-self: center;
}